<div class="app">
    <!-- BEM = Block Element Modifier -->
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-items header__navbar-items--separate">
                        Vào cửa hàng trên ứng dụng
                    </li>
                    <li class="header__navbar-items">
                        Kết nối
                    </li>
                </ul>
    
                <ul class="header__navbar-list">
                    <li class="header__navbar-items">
                        <a href="#" class="header__navbar-item-link">Thông báo</a>
                    </li>
                    <li class="header__navbar-items">
                        <a href="" class="header__navbar-item-link">Trợ giúp</a>
                    </li>
                    <li class="header__navbar-items header__navbar-items--bold header__navbar-items--separate">Đăng ký</li>
                    <li class="header__navbar-items header__navbar-items--bold">Đăng nhập</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container"></div>
    <footer class="footer"></footer>
</div>