<div class="app">
    <!-- BEM = Block Element Modifier -->
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-items header__navbar-items--separate">
                        Vào cửa hàng trên ứng dụng
                    </li>
                    <li class="header__navbar-items">
                        <span class="header__navbar-title--nopointer">Kết nối</span>
                        <a href="" class="header__navbar-icon-link">
                            <fa-icon class="header__navbar-icon" [icon]="faFacebook"></fa-icon>
                            <fa-icon class="header__navbar-icon" [icon]="faInstagram"></fa-icon>
                        </a>
                    </li>
                </ul>
    
                <ul class="header__navbar-list">
                    <li class="header__navbar-items">
                        <a href="#" class="header__navbar-item-link">
                            Thông báo
                            <fa-icon class="header__navbar-icon" [icon]="faBell"></fa-icon>
                        </a>
                    </li>
                    <li class="header__navbar-items">
                        <a href="" class="header__navbar-item-link">
                            Trợ giúp
                            <fa-icon class="header__navbar-icon" [icon]="faCircle"></fa-icon>
                        </a>
                    </li> 
                    <li class="header__navbar-items header__navbar-items--bold header__navbar-items--separate" routerLinkActive="active" routerLink = "/user/register">Đăng ký</li>
                    <li class="header__navbar-items header__navbar-items--bold" routerLinkActive="active" routerLink = "/user/login">Đăng nhập</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container"></div>
    <footer class="footer"></footer>
</div>