<div class="example">
    <form class="k-form" [formGroup]="form">
        <label>
            Name*
           

            <ng-template [ngIf]="this.isClick" [ngIfElse] = "elseBlock">
                <h4>
                    hohoh
                </h4>
            </ng-template>
            <ng-template #elseBlock>
                <input kendoTextBox [formControlName]="'fullName'" />
            </ng-template>
        </label>
        <label>
            Email*
            <kendo-textbox [formControlName]="'email'" [clearButton]="true"></kendo-textbox>
        </label>
       
    </form>

     <form class="k-form" [formGroup]="form">
        <label>
            Phone Number*
            <input ng-model="contactRegex" required name="anim" class="my-input" kendoTextBox/>
        </label>
        <ng-template [ngIf]="this.isClick" [ngIfElse] = "elseBlock">
            <kendo-floatinglabel text="last Name">
                <kendo-textbox [clearButton]="true"></kendo-textbox>
            </kendo-floatinglabel>
        </ng-template>
        <ng-template #elseBlock>
            <kendo-floatinglabel text="First Name">
                <kendo-textbox [clearButton]="true"></kendo-textbox>
            </kendo-floatinglabel>
        </ng-template>
    </form>
</div>

<div class="example">
    <button
    kendoButton [primary] = "true" 
    (click)= "onClick()"
    >
    Edit
</button>
</div>

