/*-----------------------------------------------------------------------------
    ` Components - $ Grid
-----------------------------------------------------------------------------*/

.grid {
    margin-top: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.grid__block {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
}

.grid__block.full-- {
    width: 100%;
}

@media (min-width: 480px) {
    .grid {
        margin-top: -20px;
        margin-left: -20px;
    }

    .grid__block {
        padding-top: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 640px) {
    .grid__block {
        width: 50%;
    }
}

.k-form{
    margin : 10px 50px 10px 50px; 
}

.example {
    display: flex;
    justify-content: center;
}

.k-form kendo-label:not(:last-of-type) {
    flex-direction: column;
    margin-bottom: 10px;
}

.my-input {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    background: transparent;
}
.my-input.ng-invalid {
    color:white;
    background: red;
}