$primary: #1144ec;
$button-text: #000000;
$default: #0e39f8;

// styles.scss
@import "~@progress/kendo-theme-default/dist/all.scss";

.k-button.k-bare, .k-button.k-bare:hover{
    color: $button-text;
}